body{
    background-color: black;
}

h1{
    text-transform: uppercase;
}

div{
    width: 50%;
    margin-top: 100px;
    margin-left: 25%;
}

.text{
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

img{
    border: 5px solid white;
    width: 100%;
}